@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap");

$clr-right-side: #335049;
$clr-left-side: #fff1e8;
$clr-orange: #d06400;
$clr-marine: #172038;

/*font stack----------*/

$fnt-fantasy: "Lobster", cursive;
$fnt-r: "Roboto", sans-serif;
$fnt-msrt: "Montserrat", sans-serif;

/*font size-----------*/

$fs-sm: clamp(0.6rem, 0.4vw + 1rem, 3rem);
$fs-md: clamp(1rem, 1vw + 1rem, 4rem);
$fs-xl: clamp(2rem, 1.4vw + 1.8rem, 15rem);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fnt-msrt;
  background: $clr-right-side;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: start;
  padding-top: 12rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: $fnt-msrt;
  color: $clr-orange;
  font-weight: 900;
  font-size: $fs-xl;
}

p {
  text-align: justify;
  color: $clr-left-side;
  font-family: $fnt-r;
  font-size: $fs-sm;
  padding: 2rem 2rem;
}

footer {
  background: $clr-marine;
}

header {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  background-color: $clr-left-side;
  height: 100px;
  width: 100%;
}

.logoM {
  position: absolute;
  z-index: 10;
  color: $clr-orange;
  font-family: $fnt-fantasy;
  font-size: 5rem;
}

.navbar {
  display: none;
  list-style-type: none;
  text-decoration: none;
  color: $clr-left-side;
  margin: 0;
  padding: 0;
}

// --------HAMBURGER--------

.ham-container {
  z-index: 2;
  position: absolute;
  display: flex;
  position: fixed;
  top: 25px;
  right: 2rem;
}

.hamburger {
  z-index: 2;
  background-color: $clr-right-side;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 3px $clr-left-side;
  box-shadow: 3px 3px 8px 0.6px;
  transition: 0.4s ease-in-out;
  border-radius: 10%;
  height: 50px;
  width: 50px;
}

.ham-lines {
  box-shadow: 3px 3px 8px 0.4px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 5px;
  background-color: #fff1e8;
  border-radius: 10%;
}

.ham-lines::before,
.ham-lines::after {
  content: "";
  box-shadow: 3px 3px 8px 0.6px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #fff1e8;
  border-radius: 10%;
}

.ham-lines::before {
  transform: translateY(-14px);
  border-radius: 10%;
}

.ham-lines::after {
  transform: translateY(14px);
  border-radius: 10%;
}

.open-menu {
  .hamburger {
    background-color: $clr-right-side;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 2rem;
    top: 0.4rem;
    border: solid 3px $clr-left-side;
    transition: 0.4s ease-in-out;
    border-radius: 10%;
    height: 60px;
    width: 60px;
  }

  .ham-lines {
    transition: all 0.4s ease-in-out;
    width: 0;
    height: 0px;
    border-radius: 0;
    background-color: transparent;
  }
  .ham-lines::before {
    transform: rotate(45deg) translate(-10px, 10px);
    border-radius: 10%;
  }
  .ham-lines::after {
    transform: rotate(-45deg) translate(-10px, -10px);
    border-radius: 10%;
  }
}

// -------HAMBURGER END------
// -------HAMBURGER SIDE MENU ONCLICK--------

.ham-side-container {
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  height: 0;
  width: 100%;
  background-color: #fff1e8;
  visibility: hidden;
}

.hamNavOpen {
  transition: 0.4s ease-in-out;
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 1;
  height: 25%;
  width: 100vw;
  background-color: #fff1e8;
  visibility: visible;
}

.ham-side-menu > ul {
  padding-top: 3em;
  // display: flex;
  // flex-direction: column;
  list-style-type: none;

  li {
    padding-bottom: 2rem;
    text-align: center;
  }
}

.nav-phone-tab > li > a {
  font-weight: bold;
  font-size: $fs-sm;
  transition: 0.2s ease;
  text-decoration: none;
  background-color: none;
}

// ------- END HAMBURGER SIDE MENU ONCLICK--------
// ------------------------------------------

/*--------Media Query >768px----------------*/
