@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap");

$clr-right-side: #335049;
$clr-left-side: #fff1e8;
$clr-orange: #d06400;
$clr-marine: #172038;

/*font stack----------*/

$fnt-fantasy: "Lobster", cursive;
$fnt-r: "Roboto", sans-serif;
$fnt-msrt: "Montserrat", sans-serif;

/*font size-----------*/

$fs-sm: clamp(0.6rem, 0.4vw + 0.7rem, 3rem);
$fs-md: clamp(1rem, 1vw + 1rem, 4rem);
$fs-xl: clamp(2rem, 1.4vw + 1rem, 4rem);
//TODO resize the XL font size for large screen
body,
html {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fnt-msrt;
  background: $clr-left-side;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 60px 1fr 3rem;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
}

header {
  text-align: center;
  grid-area: header;
  background: $clr-right-side;

  .navbar {
    display: none;
  }
}

.navbar,
li,
a {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  color: $clr-left-side;
}

// --------HAMBURGER--------

.hamburger {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.circle-hover {
  visibility: hidden;
  position: absolute;
  right: 5px;
  top: -3px;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  color: white;
}

.hamburger:hover {
  .hamburger {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  .circle-hover {
    visibility: hidden;
    transition: 0.3s ease;
    position: absolute;
    right: -5px;
    top: -5px;
    height: 35px;
    width: 35px;
    border: solid 3px white;
    border-radius: 50%;
  }
}

.ham-line {
  background-color: #fff1e8;
  height: 4px;
  width: 35px;
  margin: 8px;
}

// -------HAMBURGER END------

content {
  text-align: center;
  font-size: $fs-sm;
  grid-area: content;
  background: $clr-right-side;
  color: $clr-orange;
  padding-top: 1rem;
  padding-left: 1rem;
}

h1 {
  text-align: left;
  font-family: $fnt-msrt;
  color: $clr-orange;
  font-weight: 900;
  font-size: 1.7em;
  /*   font-style: italic; */
}

p {
  text-align: start;
  color: $clr-marine;
  font-family: $fnt-fantasy;
  font-size: $fs-sm;
  padding: 50px 100px;
}

footer {
  grid-area: footer;
  background: $clr-marine;
}

/*--------Media Query >768px----------------*/

@media screen and (min-width: 768px) {
  body {
    background: $clr-left-side;
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 60px 1fr 2rem;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
  }

  .logo {
    /*    border: solid 1px red; */
    text-align: start;
    padding-top: 10px;
    padding-left: 2rem;
    grid-area: logo;
    background: $clr-left-side;
  }

  header {
    grid-area: header;
    background: $clr-right-side;

    .navbar {
      display: inherit;
    }
  }

  .nav-item {
    margin: 0 5em;
  }

  .hamburger {
    display: none;
    text-align: end;
    padding-right: 1rem;
    padding-top: 10px;
    grid-area: header;
  }

  //TODO set the correct size for profile picture in MD
  .profile {
    display: flex;
    border-radius: 50%;
    width: 14rem;
    height: 13.5rem;
  }

  content {
    text-align: center;
    font-size: $fs-md;
    grid-area: content;
    background: $clr-right-side;
    color: $clr-orange;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

/*--------Media Query >1024px----------------*/

@media screen and (min-width: 1024px) {
  .profile {
    display: flex;
    border-radius: 50%;
    margin-top: 3rem;
    width: 15rem;
    height: 14.6rem;
  }

  .side-nav-container {
    position: fixed;
    right: 0;
    top: 40vh;
    height: 10rem;
    width: 5rem;
    border: solid 1px black;
    border-radius: 50% 0 0 50%;
    background-color: #fff1e8;
  }

  .circle-menu {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    border-radius: 50%;
  }
  body {
    background: $clr-left-side;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60px 1fr 2rem;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
  }

  content {
    text-align: center;
    font-size: $fs-xl;
    grid-area: content;
    background: $clr-right-side;
    color: $clr-orange;
    padding-top: 7rem;
    padding-left: 4rem;
  }
}
