@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap");
/*font stack----------*/
/*font size-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #335049;
  height: 100vh;
  width: 100vw;
}

h1 {
  word-wrap: break-word;
  text-align: start;
  padding-top: 15rem;
  padding-left: 1.8rem;
  padding-right: 2.6rem;
  font-family: "Montserrat", sans-serif;
  color: #fcfffe;
  font-weight: 900;
  font-size: clamp(1.5rem, 2.3vw + 1.6rem, 15rem);
}

h2 {
  text-align: center;
  font-size: clamp(1.5rem, 2.3vw + 1.6rem, 15rem);
  padding: 2rem 1rem;
}

p {
  text-align: justify;
  color: rgb(255, 183, 16);
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.6rem, 0.4vw + 1.1rem, 7rem);
  padding: 2rem 2rem;
}

.first-p {
  margin-top: 5rem;
}

.second-p {
  color: #fcfffe;
}

/*----------FOOTER----------------------*/
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background: #172038;
  height: 30px;
  width: 100vw;
  justify-content: center;
}

.footer-container > p {
  margin: 2px;
  padding: 2px;
  font-size: clamp(0.6rem, 0.4vw + 1.1rem, 7rem);
  color: rgb(255, 183, 16);
}

/*----------END FOOTER----------------------*/
header {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  background-color: rgb(255, 183, 16);
  height: 100px;
  width: 100%;
}

.logoM {
  position: absolute;
  left: 7.5rem;
  z-index: 10;
  color: #fcfffe;
  font-family: "Lobster", cursive;
  font-size: 6rem;
  text-shadow: 5px 5px 5px black;
}

.navbar {
  display: none;
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 183, 16);
  margin: 0;
  padding: 0;
}

.ham-container {
  z-index: 2;
  position: absolute;
  display: flex;
  position: fixed;
  top: 25px;
  right: 2rem;
}

.hamburger {
  z-index: 2;
  background-color: rgb(255, 183, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 3px #fcfffe;
  box-shadow: 3px 3px 8px 0.6px #5c4e45;
  transition: 0.4s ease-in-out;
  border-radius: 10%;
  height: 50px;
  width: 50px;
}

.ham-lines {
  box-shadow: 3px 3px 8px 0.4px #5c4e45;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 5px;
  background-color: #fcfffe;
  border-radius: 10%;
}

.ham-lines::before,
.ham-lines::after {
  content: "";
  box-shadow: 3px 3px 8px 0.6px #5c4e45;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #fcfffe;
  border-radius: 10%;
}

.ham-lines::before {
  transform: translateY(-14px);
  border-radius: 10%;
}

.ham-lines::after {
  transform: translateY(14px);
  border-radius: 10%;
}

.open-menu .hamburger {
  z-index: 2;
  background-color: #335049;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 2rem;
  top: 0.4rem;
  border: solid 3px rgb(255, 183, 16);
  transition: 0.4s ease-in-out;
  border-radius: 10%;
  height: 60px;
  width: 60px;
}
.open-menu .ham-lines {
  box-shadow: 1px 1px 1px 0.5px #fcfffe;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  width: 0;
  height: 0px;
  border-radius: 0;
  background-color: transparent;
}
.open-menu .ham-lines::before {
  box-shadow: 1px 1px 1px 0.2px #fcfffe;
  transform: rotate(45deg) translate(-10px, 10px);
  border-radius: 10%;
}
.open-menu .ham-lines::after {
  box-shadow: 1px 1px 1px 0.2px #fcfffe;
  z-index: 2;
  transform: rotate(-45deg) translate(-10px, -10px);
  border-radius: 10%;
}

.ham-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  z-index: 0;
  height: 0;
  width: 100%;
  background-color: rgb(255, 183, 16);
}

.hamNavOpen,
.hamNavOpen > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-out;
  color: #fcfffe;
  position: fixed;
  padding: 20px 20px;
  top: 6rem;
  right: 0;
  z-index: 1;
  height: 25%;
  width: 100vw;
  background-color: rgb(255, 183, 16);
  text-decoration: none;
}

.items-top-slide-container1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.items-top-slide-container2 {
  margin-bottom: 4rem;
}

#item1,
#item2 {
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
  color: #fcfffe;
  font-size: clamp(0.6rem, 0.4vw + 1.1rem, 7rem);
}

#item1::before,
#item2:before {
  content: "";
  position: absolute;
  transform: translateY(1.5rem);
  width: 0px;
  height: 2px;
  background-color: #fcfffe;
}

#item1:hover::before {
  transition: 0.4s ease;
  content: "";
  position: absolute;
  z-index: 2;
  transform: translateY(1.5rem) translateX(0.5rem);
  width: 9rem;
  height: 2px;
  background-color: #fcfffe;
}

#item2:hover::before {
  transition: 0.4s ease;
  content: "";
  position: absolute;
  z-index: 2;
  transform: translateY(1.5rem) translateX(0.2rem);
  width: 6rem;
  height: 2px;
  background-color: #fcfffe;
}

/*--------Media Query >768px----------------*//*# sourceMappingURL=style.css.map */