@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap");
/*font stack----------*/
/*font size-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #335049;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: start;
  padding-top: 12rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: clamp(2rem, 1.4vw + 1.8rem, 15rem);
}

p {
  text-align: justify;
  color: rgb(255, 183, 16);
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.6rem, 0.4vw + 1rem, 3rem);
  padding: 2rem 2rem;
}

footer {
  background: #172038;
}

header {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  background-color: rgb(255, 183, 16);
  height: 100px;
  width: 100%;
}

.logoM {
  position: absolute;
  z-index: 10;
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 5rem;
  text-shadow: 4px 4px 4px black;
}

.navbar {
  display: none;
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 183, 16);
  margin: 0;
  padding: 0;
}

.ham-container {
  z-index: 2;
  position: absolute;
  display: flex;
  position: fixed;
  top: 25px;
  right: 2rem;
}

.hamburger {
  z-index: 2;
  background-color: rgb(255, 183, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 3px #fff;
  box-shadow: 3px 3px 8px 0.6px #5c4e45;
  transition: 0.4s ease-in-out;
  border-radius: 10%;
  height: 50px;
  width: 50px;
}

.ham-lines {
  box-shadow: 3px 3px 8px 0.4px #5c4e45;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 10%;
}

.ham-lines::before,
.ham-lines::after {
  content: "";
  box-shadow: 3px 3px 8px 0.6px #5c4e45;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 10%;
}

.ham-lines::before {
  transform: translateY(-14px);
  border-radius: 10%;
}

.ham-lines::after {
  transform: translateY(14px);
  border-radius: 10%;
}

.open-menu .hamburger {
  z-index: 2;
  background-color: #335049;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 2rem;
  top: 0.4rem;
  border: solid 3px rgb(255, 183, 16);
  transition: 0.4s ease-in-out;
  border-radius: 10%;
  height: 60px;
  width: 60px;
}
.open-menu .ham-lines {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  width: 0;
  height: 0px;
  border-radius: 0;
  background-color: transparent;
}
.open-menu .ham-lines::before {
  transform: rotate(45deg) translate(-10px, 10px);
  border-radius: 10%;
}
.open-menu .ham-lines::after {
  transform: rotate(-45deg) translate(-10px, -10px);
  border-radius: 10%;
}

.ham-side-container {
  transition: 0.6s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  height: 0;
  width: 100%;
  background-color: rgb(255, 183, 16);
  visibility: hidden;
}

.hamNavOpen {
  transition: 0.3s ease-out;
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 1;
  height: 25%;
  width: 100vw;
  background-color: rgb(255, 183, 16);
  visibility: visible;
}

.ham-side-menu > ul {
  padding-top: 3em;
  list-style-type: none;
}

/*--------Media Query >768px----------------*//*# sourceMappingURL=style.css.map */